@import url(//db.onlinewebfonts.com/c/2f8845bdde42e943355a39765c5be5c0?family=Druk+Wide+Web+Super);
@import url(//db.onlinewebfonts.com/c/7e389c5e310dc537b083e0e25ea6eab5?family=Druk+Wide+Medium);

/*Hello LEvan */
body {
    background-color: black;}
@font-face {
    font-family: "Druk Wide Web Super"; src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot"); src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.svg#Druk Wide Web Super") format("svg"); }
@font-face {font-family: "Druk Wide Medium"; src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot"); src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.svg#Druk Wide Medium") format("svg"); }
@font-face {
    font-family: "Druk Wide Web"; 
    src: url("Fonts/Druk\ Wide\ Web\ Bold\ Regular.ttf") format("truetype");
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*--loader--*/

#loader {
    height: 1500px;
    width: 1500px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

#loader img {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section {
    width: 100%;
    height: 100vh;
}

/*--menu--*/
div.menu {
    position: fixed;
    color: white;
    top: 6%;
    right: 4%;
    text-align: right;
}

h1.menu {
    font-family: "Druk Wide Web";
    font-size: 1.25vw;
    letter-spacing: 0.005vw;
    overflow: hidden;
    position: relative;
  }

.menu .hidetext2 {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.menu .hidetext2:hover {
    color: #D6364A;
}


/*--title--*/


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }

 .hidetext {
    color: white;
    display: inline-block;
    vertical-align: middle;
 }

 .title .hidetext1 {
    color: white;
    position: relative;
    font-family: "Druk Wide Web";
    font-size: 6.5vw;
    white-space: nowrap;
 }

 .title .hidetext1::after {
    content: "HENOSIS";
    position: absolute;
    left: 0;
    -webkit-text-stroke: 0.2vw white;
    -webkit-text-fill-color: transparent;
    z-index: 10;
 }

 /*--landingimg--*/

 .homeimg {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
 }
 .homeimg img {
    position: relative;
    height: 20%;
    width: 90%;
 }

 /*--subtitle--*/

 .side-text {
    position: absolute;
    width: 59.02777777777778vw;
    height: 15.225334957369062vh;
    top: 65%;
    left: 57%;
    transform: translate(-50%, -75%);
 }
 .subtitle {
    font-family: "Druk Wide Web";
    color: white;
    overflow: hidden;
    font-size: 3vw;
}

.hidetext2 {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}


section#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01c2b1;
    height: 100vh;
}
.whoarewe {
    font-family: "Druk Wide Web";

}

section#initiatives {
    position: relative;
    height: 100vh;
}

section#contact {
    background-color: grey;
    position: absolute;
    height: 100vh;
}

/*Expansion*/

#ExpansionAT{
    font-weight: 600;
    font-size: 0.5rem;
    fill: white;
    font-family: "Druk Wide Web";
}

.title{
    visibility: visible;
    font-family: "Druk Wide Web";
}

.imgCont{
    height: 70vh;
    width: 31.05vw;
    background-color: none;
    position: absolute;
    top: 17vh;
    left: 9.5vw;
    font-family: "Druk Wide Web";
}

.MainIMG{
    border-radius: 50px;
    height: 70vh;
    width: 31.05vw;
}

.imminenetEvent{
    top: 10vw;
    left: 45vw;
    height: 70vh;
    background-color: none;
    width: 33vw;
    position: absolute;
    color: white;
    font-family: "Druk Wide Web";
}

.imminentTit{
    padding: 0;
    margin: 0;
    font-size: 2.365vw;
    text-align: right;
    text-transform: uppercase;
    line-height: 3.8vh;
    font-family: "Druk Wide Web";
}
.imminentDate{
    margin: 0;
    margin-top: 2vh;
    color: gray;
    font-size: 1.26vw;
    text-align: right;
    letter-spacing: 0.1vw;
    padding-right: 0vw;
    margin: 0vw;
    font-family: "Druk Wide Web";
}

.imminentText{
    text-align: right;
    font-size: 0.97vw;
    margin-top: 2vw;
    line-height: 2vh;
    color: #c4c4c4;
    font-family: "Druk Wide Web";
}

.lrnMorebtn{
    border: none;
    color:#ed1c24;
    padding: 1.25vw 2vw;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1vw;
    font-weight: 900;
    margin-left: 18vw;
    margin-top: 2vh;
    cursor: pointer;
    border-radius: 100vw;
    font-family: "Druk Wide Web";
}

.otherEvents::-webkit-scrollbar{
    display: none;
}

.homePG{
    border-radius: 2vw;
    width: 2.5vw;
    position: absolute;
    top: 0;
    margin: 1vw;
    z-index: 1;
    font-family: "Druk Wide Web";
}

.otherEvents{
    top: 0vh;
    left: 80vw;
    height: 90vh;
    width: 21vw;
    background-color: none;
    position: absolute;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    font-family: "Druk Wide Web";
}
#disparuEventIMG{
    border: 1px white;
}

.widgetEvents{
    height: 26.5vh;
    width: 18.25vw;
    left: -2.75vw;
    position: relative;
    background-color: none;
    margin: 1vw;
    font-size: 0.5vw;
    padding: 1vw;
    overflow: hidden;
    font-family: "Druk Wide Web";
}

ul{
    list-style-type: none;
}

.widgetImg{
    border-radius: 50px;
    margin-top: -0.7vw;
    width: 16vw;
    height: 17vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "Druk Wide Web";
    filter: grayscale(50%);
    z-index: 1;
}

.widgetTitle{
    margin-top: 0.6vh;
    margin-left: 1.5vw;
    text-transform: uppercase;
    font-size: 0.8vw;
    text-align: left;
    color: gray;
    margin-bottom: -0.9vh;
    font-family: "Druk Wide Web";
    
}

.widgetText{
    line-height: 1.1vh;
    margin-left: 1.5vw;
    font-size: 0.6vw;
    margin-top: 0.2vh;
    color: gray;
    font-family: "Druk Wide Web";

}

.date{ 
    margin-top: 0.45vw;
    font-size: 0.65vw;
    margin-left: 1.5vw;
    color: #c4c4c4;
    font-family: "Druk Wide Web";
}

hr{
    width: 20.9vw;
    left: 78%;
    color: white;
    position: absolute;
    top: 23vw;
    visibility: hidden;
    z-index: 1;
    font-family: "Druk Wide Web";
}

#hoveredWidg{
    height: 16vw;
    font-family: "Druk Wide Web";
}

#hoveredWidg p{
    font-size: 0.7vw;
    color: #c4c4c4;
    margin-top: -0.3vw;
    font-family: "Druk Wide Web";
}

#hoveredWidg h2{
    color: white;
    font-size: 1vw;
    font-family: "Druk Wide Web";
}
#hoveredWidg h3{
    color: #c4c4c4;
    font-size: 0.75vw;
    font-family: "Druk Wide Web";
}
#hoveredWidg img{
    filter: grayscale(0%);
    width: 18vw;
    height: 12vw;
    font-family: "Druk Wide Web";
}   




/*Footer*/
  
      #colorstrip{
      width: 99.6%;
      height: 240px;
      position: absolute;
      border-style: solid;
      border-color: #029e8d;
      background-color: #029e8d;
      
      bottom: 0px;
      border-top-left-radius: 25px ;
      border-top-right-radius: 25px ;
      margin-left: -8px;
      }
      h1.dream{
        padding-top:100px;
        padding-left:100px;
        font-size: 40px;
        color: #e61942; 
        font-family: "Druk Wide Web";
      }
      h1.dream1{
        
        padding-left:100px;
        font-size: 40px;
        color: #e61942 ; 
        font-family: "Druk Wide Web";
      }
  
  span.text{
  font-size: 40px;
  font-family: "Druk Wide Web";
  position: absolute;
  top: 35%;
  left: 26%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  color: black;
  -webkit-text-stroke: #e61942 2px;
  }
  
  span.text:before{
    content: 'get in contact now!';
    color: #e61942 ;
    position: absolute;
    width: 0;
    overflow:hidden;
    transition: 1s;
    white-space: nowrap;
  }
  
  span.text:hover:before{
    white-space: nowrap;
    width:100%;
  }
  
    
  
  h2.news{
  font-family: "Druk Wide Web";
  letter-spacing: 2px;
  padding-left: 100px;
  color: #ffebc9;
  font-size: 25px;
  }
  
  
  
  
  #contactinfo{
  font-family: "Druk Wide Web";
  font-size: 17px;
  display: block;
  position: relative;
        top: 50%;
        left: 129%;
        transform: translateX(-50%) translateY(-50%);
  }
  
  
  p.uuoio{
  
    color: #a9d4b7;
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  h2.iusiruwe{
    color: #029e8d;
    -webkit-text-stroke: 1px #ffebc9;
    letter-spacing: 2px;
  }
  p.iuwer{
    font-size: 15px;
    font-weight: 700;
    font-family: "Druk Wide Web" ;
    color: #a9d4b7;
    text-align: center;
    opacity: 0.5;
    position: absolute;
        top: 88%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  }
  p.iuwer1{
    font-size: 15px;
    font-weight: 700;
    font-family: "Druk Wide Web" ;
    color: #a9d4b7;
    text-align: center;
    opacity: 0.5;
    position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  }
  
  h2.fbtn{
    font-family: "Druk Wide Web";
      color: #029e8d;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 5px;
      -webkit-text-stroke: 1px #ffebc9;
      cursor: pointer;
      position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  
  
  }
  
  
  
  h2.fbtn span{
      transition: 0.5s;
  }
  
  h2.fbtn:hover span:nth-child(2){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(3){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(4){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(5){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(6){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(7){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span:nth-child(8){
  margin-left: 10px;
  
  }
  h2.fbtn:hover span{
      color: #fff;
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                  0 0 40px #fff,
                  0 0 80px #fff,
                  0 0 120px #fff,
                  0 0 160px #fff;
  }
  
  h2.instbtn{
      font-family: "Druk Wide Web";
      color: #029e8d;
      -webkit-text-stroke: 1px #ffebc9;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 5px;
      cursor: pointer;
      position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  
  
  }
  
  
  
  h2.instbtn span{
      transition: 0.5s;
  }
  
  h2.instbtn:hover span:nth-child(2){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(3){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(4){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(5){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(6){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(7){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(8){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span:nth-child(9){
  margin-left: 10px;
  
  }
  h2.instbtn:hover span{
      color: #fff;
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                  0 0 40px #fff,
                  0 0 80px #fff,
                  0 0 120px #fff,
                  0 0 160px #fff;
  }
  
  
  h2.social1{
      font-family: "Druk Wide Web";
      color: #029e8d;
      -webkit-text-stroke: 1px #ffebc9;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 5px;
      cursor: pointer;
      position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
  
 h2.social1 span{
      transition: 0.5s;
  }
  h2.social1:hover span:nth-child(2){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(3){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(4){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(5){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(6){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(7){
  margin-left: 10px;
  }
  h2.social1:hover span:nth-child(8){
  margin-left: 10px;
  }
  h2.social1:hover span{
      color: #fff;
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                  0 0 40px #fff,
                  0 0 80px #fff,
                  0 0 120px #fff,
                  0 0 160px #fff;
  }
   div.textsubscribe{
    position: absolute;
        top: 35%;
        left: 14.5%;
        transform: translateX(-50%) translateY(-50%); 
  }
  span.fontbtn{
  font-family: "Druk Wide Web";
  }  
  div.uheufh{
  text-align: center;
  color: white;
  position: absolute;
        top: 60%;
        left: 16%;
        transform: translateX(-50%) translateY(-50%);
  }
  .email-box {
  height: 40px;
  color: #029e8d;
  display: flex;
  justify-content: center; 
  }
  .email-box i{
  background: #ffebc9;
  width: 40px;
  line-height: 40px;
  }
  .tbox,.btn12{
  border: none;
  outline: none;
  }
  .tbox{
  width: 0px;
  padding: 0px;
  transition: 0.6s;
  }
  .email-box:hover > .tbox,.tbox:focus{
  width: 230px;
  padding: 0 10px;
  }
  .btn12{
  font-family: "Druk Wide Web";
  letter-spacing: 1px;
  background: #ffebc9;
  color: #029e8d;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  }